@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,900&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #beb9b9;
}

h1 {
  font-size: 2rem;
}

.container {
  padding: 2rem 3rem;
}

.title {
  text-align: center;
}

/* BUTTONS */
.btn {
  padding: 0.3rem;
  margin: 0.4rem 0;
  min-width: 100px;
  max-width: 100px;
  background-color: #333;
  color: #f4f4f4;
  border: none;
  outline: none !important;
}

.btn:hover {
  color: rgba(244, 244, 244, 0.4);
}
